.container
  .jumbotron.j_bottom
    %p.lead
      Bienvenidos al #{title_system} #{acronym_entity}

  - if current_user.is_admin_store?
    - if minimum_stock.present?
      = render 'shared/stores/minimum_stock'
  - if current_user.is_admin?
    .row
      = render 'shared/admin'
      = render 'shared/assets'
      = render 'shared/derecognised'
