html {
  height: 100%;
}

body{
  height: 100%;
  background-color: #fff;
  background-image: url('bg5.png');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

  .alert{
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  }

  .content-wrap{
    background: #FFFFFF;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 400px;
    padding: 40px;

    h4 {
      font-weight: 600;
      margin: 0 0 30px;
      text-transform: uppercase;
    }

    a{
      font-size: 15px;
      float: right;
    }
  }

  .login {
    margin-top: 15px;
    width: 100%;
    max-width: 100%;
    border-radius: 6px;
    font-size: 17px;
    line-height: 1.33;
    padding: 10px 16px;
    display: block;
    font-weight: 700;
  }
  .subttitle-login {
    font-size: 17px;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 700;
  }
  
  .main {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.5);
  }

  .footer {
    position: fixed;
    font-size: 12px;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #4A4A4A;
  }
}
