.title_pdf
  %br
  %h3= t("#{controller_name}.title.title")

%table.table.table-condensed.table-bordered.valorado
  %thead
    %tr
      %th.text-center Nro
      %th.text-center= Material.human_attribute_name('code')
      %th= Material.human_attribute_name('descripción')
      %th.text-center= Auxiliary.human_attribute_name('status')
  %tbody
    - @array.each_with_index do |material, index|
      %tr
        %td.text-center= index + 1
        %td.text-center= material.code
        %td= material.description
        %td.text-center= type_status(material.status)
